*.rbc
*.sassc
.sass-cache
capybara-*.html
/config/initializers/01_secrets.rb
/config/initializers/secret_token.rb
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*.sublime-project
*.sublime-workspace